{% extends 'app/base.html' %}
{% load static %}
{% block js %}
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script>
    $(document).ready(function() {
      $('.slider').bxSlider({
          mode: 'fade',//horizontal, vertical, fade
          auto: true,
          pause: 2000
      });
    });
</script>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
{% endblock %}
{% block contenido %}
<div class="slider">
    <div>
        <img src="{% static 'app/img/banner/banner.png' %}" alt="">
    </div>
    <div>
        <img src="{% static 'app/img/banner/bannerr.png' %}" alt="">
    </div>
    <div>
        <img src="{% static 'app/img/banner/bannerrr.png' %}" alt="">
    </div>
</div>

<center><h2>Vista previa de portafolios</h2></center>
<hr>
<div class="productos">
{% for p in portafolio %}
<div class="producto">

    <div class="contenedor_producto">
        {% if p.foto %}

        <img src="{{ p.foto.url}}" alt="imagen producto">
        {% endif %}
        <div class="detalle">
            <h5>{{p.titulo | capfirst}}</h5>
            <h2>{{p.tags}}</h2>
            <h3>{{p.descripcion}}</h3>
        </div>
    </div>

</div>
{% endfor %}


{% endblock %}